// Package {{ project_name | replace('-', '') }} is a dependency-light HTTP-JSON
// client. Construct with New; the default transport is otelhttp-instrumented.
package {{ project_name | replace('-', '') }}
